td img {
/* Another Mozilla/Netscape bug with making sure our images display correctly */
	display: block;
}

#FWTableContainer35872325 {
/* The master div to make sure that our popup menus get aligned correctly.  Be careful when playing with this one. */
	position:relative;
	margin:0px;
	width:500px;
	height:800px;
	text-align:left;
}

#MMMenuContainer0630150739_0 {
/* This ID is related to the master menu div for menu MMMenuContainer0630150739_0 and contains the important positioning information for the menu as a whole */
	position:absolute;
	left:265px;
	top:19px;
	visibility:hidden;
	z-index:300;
}

#MMMenu0630150739_0 {
/* This class defines things about menu MMMenu0630150739_0's div. */
	position:absolute;
	left:0px;
	top:0px;
	visibility:hidden;
	background-color:#666666;
	border:1px solid #000000;
	width:225px;
	height:141px;
}

.MMMIFVStyleMMMenu0630150739_0 {
/* This class determines the general characteristics of the menu items in menu MMMenu0630150739_0 */
	border-top:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-bottom:1px solid #666666;
	border-right:1px solid #666666;
	width:225px;
	height:36px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:217px;
	height:28px;
}

.MMMIVStyleMMMenu0630150739_0 {
/* This class determines the general characteristics of the menu items in menu MMMenu0630150739_0 */
	border-top:0px;
	border-left:1px solid #cccccc;
	border-bottom:1px solid #666666;
	border-right:1px solid #666666;
	width:225px;
	height:35px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:217px;
	height:28px;
}

#MMMenu0630150739_0_Item_0 {
/* Unique ID for item 0 of menu MMMenu0630150739_0 so we can set its position */
	left:0px;
	top:0px;
}

#MMMenu0630150739_0_Item_1 {
/* Unique ID for item 1 of menu MMMenu0630150739_0 so we can set its position */
	left:0px;
	top:36px;
}

#MMMenu0630150739_0_Item_2 {
/* Unique ID for item 2 of menu MMMenu0630150739_0 so we can set its position */
	left:0px;
	top:71px;
}

#MMMenu0630150739_0_Item_3 {
/* Unique ID for item 3 of menu MMMenu0630150739_0 so we can set its position */
	left:0px;
	top:106px;
}

#MMMenuContainer0630150739_0 img {
/* needed for Mozilla/Camino/Netscape */
	border:0px;
}

#MMMenuContainer0630150739_0 a {
/* Controls the general apperance for menu MMMenuContainer0630150739_0's items, including color and font */
	text-decoration:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#000000;
	text-align:left;
	vertical-align:middle;
	padding:3px;
	background-color:#ffffff;
	font-weight:normal;
	font-style:normal;
	display:block;
	position:absolute;
}

#MMMenuContainer0630150739_0 a:hover {
/* Controls the mouse over effects for menu MMMenuContainer0630150739_0 */
	color:#ffffff;
	background-color:#000000;
}
